.about {
    background-image: url('../images/abtBg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.abt-cont {
    margin-top: 100px;
}

.abt-title {
    font-size: 30px;
    color: #c3c3c3;
    margin: 0px;
}

.abt-desc {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 30px;
}

.abt-content {
    font-size: 20px;
    margin-bottom: 30px;
}

.git-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 2px solid black;
    margin: 10px;
    width: fit-content !important;
}

.features {
    margin-block: 100px !important;
}

.feature-top {
    display: flex;
    align-items: center;
}

.feature-img {
    width: 50px;
    margin: 5px;
}

.feature-topic {
    font-weight: 600;
    font-size: 20px;
}

.feature-content {
    font-size: 15px;
}