*{
    margin: 0%;
    padding: 0%;
}

.ForgotPassword{
    margin: 6rem 6rem;
    width: 100%;
    height: 100%;
    align-items: center !important;
    justify-content: center;
    display: flex;
}
.card
    {
        padding: 1.5rem !important;
        background: #ffffff42 !important;
        backdrop-filter: blur(4px) !important;
        border: none !important;
        border-radius: 13px !important;
        box-shadow: 0px 0px 20px 2px #008b9d !important;
        font-family: 'PT Sans', sans-serif !important;
    }
.form-control{
    margin-bottom: 13px !important;
}

@media (max-width:450px) {
    .ForgotPassword{
        margin: 6rem 0.5rem;
    }
    
}