.signup{
    margin: 6rem 6rem;
    width: 100%;
    height: 100%;
    align-items: center !important;
    justify-content: center;
    display: flex;
}

@media (max-width:450px){
    .signup{
        margin: 3rem 0.5rem;
    }
}